<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MailFrom" value="from@hotmail.com" />
		<add key="MailTo" value="to@hotmail.com" />
		<add key="SMTPHost" value="smtp.mailtrap.io" />
		<add key="SMTPPort" value="2525" />
		<add key="SMTPUser" value="18c2fcbc7ad625" />
		<add key="SMTPPassword" value="5a0a1eb6970b3c" />
	</appSettings>
</configuration>